.Navbar {
  background-color: #333;
  color: #fff;
  padding: 20px;
  
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: space-between;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.Paragraph1, 
.Paragraph2, 
.Images1,
.Image2 {
  margin-bottom: 40px;
}

body {
  min-height: 100vh;
  font-family: sans-serif; 
  max-width: 1000px;
  margin: 0 auto;
}


.footbar ul {
  list-style-type: none;
  padding: 10px; 
  display: flex; 
  justify-content: space-between;
}

.footbar a {
  color: tomato;
}

article {
  margin-bottom: 4rem; 
  border-bottom: 1px solid lightgray;
  padding-bottom: 2rem; 
}

article p::first-letter {
  color: lightgray; 
}

.footer p {
  color: lightgray; 
}

.continue-link {
 font-weight: bold;
 color: tomato;
 margin: 10px
}

